
<div id="header">
    <ul>
        <h2>Brainwave.io</h2>
        <li><a routerLink="/content" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/our-story" routerLinkActive="active">Our Stories</a></li>
        <!-- <li><a routerLink="/our-story" >  </a></li> -->
        <button id="button" type="button" class="btn btn-primary">Get Started a Project</button>
    </ul>
    <router-outlet></router-outlet>
</div>
