<div class="our-story">
    <div id="title">
        <p style="color: red;">Our Story</p>
        <h2>We know how business works and why your business is failing over and over again.</h2>
    </div>
    
    <img id="img1" src="img1.PNG" alt="Image Not Found">
    <img id="img2" src="img2.PNG" alt="Image Not Found">
    <img id="img3" src="img3.PNG" alt="Image Not Found">

    <p id="para">We share common trends and strategies for improving your rental income and making sure you stay in high demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>

    <div id="div">
        <div id="div1">
            <h1>1M+</h1>
            <p>Customers visits Omego every month to get their service done.</p>
        </div>
        <div id="div2">
            <h1>92%</h1>
            <p>Satisfaction rate comes from our awesome customers</p>
        </div>
        <div id="div3">
            <h1>4.9/5.0</h1>
            <p>Average customers rating we have got all over the internet.</p>
        </div>
    </div>
</div>

